body {
  margin: 0;
}

.img-caption-container {
  position:relative;
  height: 55vw;
  width:100%;
  overflow: hidden;
}

.img-caption-img {
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   /*width: 100%;*/
   z-index: -1;
 }

 .img-caption-caption {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: red;
    z-index:1;
  }

  .img-caption-header{
    position: absolute;
    top:5%; left:20%;
    width: 100%;
    z-index: 1;
    display: inline-block;

  }

  /*//Semi-Transparent Button*/
  .semi-transparent-button {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px;
    width: 80%;
    max-width: 200px;
    background: #fff; /* fallback color for old browsers */
    background: rgba(255, 255, 255, 0.2);
    color: red;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
  }

  .semi-transparent-button:hover,
  .semi-transparent-button:focus,
  .semi-transparent-button:active {
    background: #f4f4f4;
    color: #26a5d3;
    transition: all 0.5s ease-in;
  }

  /*//hackerschool.mx buttons semi-transparent buttons w/background color*/
  .btn-link-1 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 130px;
    margin: 0;
    border: 0px;
    padding: 8px;
    background: #65BB45;
    font-size: 16px;
      font-weight: 300;
      line-height: 16px;
      color: #fff;
      -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
  }
  .btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
  }

  .btn-link-1:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
  }
